.card {
    width: 22.356rem;
    height: 16.667rem;
    background: var(--purple); 
    border-radius: 0.6rem;  
    padding: 1.8rem;
    box-sizing: border-box;
}

.banner {
    max-width: 5.25rem; 
    max-height: 5.25rem
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.music {
    color: var(--gray-100);
    font-weight: bold;
    font-size: 1.4rem;
}

.author {
    color: var(--gray-100);
    font-size: 1.2rem;
    opacity: 80%;
}

.progressBar {
    display: block;
    align-items: center;
    justify-content: center;

}

.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time h1 {
    color: var(--gray-200);
    opacity: 70% ;
}

.playPause {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

