body {
  background: var(--background);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem
}

.smallPlayers {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column
}

@media (max-width: 768px) {  
  html {
    display: flex;
    justify-content: center;
  }

  .App {
    width: 87.5%; 
    height: 87.5%;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto; 
  }
}